.post-link {
    min-height: 70px;
    display: flex;
    flex-basis: 205px;
    margin-right: 37px;

    .post-link-box {
        min-width: 70px;
        background-color: $color-gray-three;
        margin-right: 16px;
    }

    .post-link-link a {
        // color: $color-gray-one;
        font-size: 14px;
        line-height: 17px;
    }

}